<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="../static/Javascript/addremove.js"></script>
    <link rel="stylesheet" href="../static/CSS/stylesheet.css" />
    <title>Content</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="login.html">Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              >Content<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">Register</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <!-- table div -->
        <div id="generated-table" class="border rounded mt-2 p-1"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <select name="dropdown" id="dropdown" class="border m-2">
            <option value="" style="color: black; background-color: darkcyan;">Technical requirements</option>
            <option value="">
              Have at least 3 pages, keep the grid system consistent as much as
              possible -- Done
            </option>
            <option value="">
              Use at least 10 different HTML tags -- Done
            </option>
            <option value="">Use HTML tables -- Done</option>
            <option value="">
              Implement at least two uses for forms -- done
            </option>
            <option value="">Dropped Down Menu -- Done</option>
            <option value="">Use web fonts -- Done</option>
            <option value="">
              Use different types of content in the form of text, images or
              videos -- Done
            </option>
            <option value="">Use regex validation -- Done</option>
            <option value=""></option>
            <option value="">Inline, and external styling -- Done</option>
            <option value="">Use five different CSS selectors -- Done</option>
            <option value="">Don't use too many fonts -- Done</option>
            <option value="">Use colors that complement each other -- Done</option>
            <option value="">Use Flexbox (Optional)</option>
            <option value="">Use SASS/SCSS (Optional)</option>
            <option value="">External scripts -- Done</option>
            <option value="">Javascript -- Done</option>
            <option value="">Use animations (Optional) -- Done</option>
            <option value="">
              Use variables, if statements, loops, at least one form of
              collections, functions/call back, and events. -- Done
            </option>
            <option value="">Use AJAX (Optional)</option>
            <option value="">Use JSON or XML (Optional)</option>
            <option value="">Use JQuery (Optional)</option>
          </select>
        </div>
      </div>
    </div>
  </body>
</html>
